small{
	font-size: .9rem;
}

#community-list{
	display: flex;
	flex-flow : row wrap;
	justify-content: space-around;
}

.flip-container {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 1 25vh;
	margin: 1em 0.5em;
	border: 1px solid rgba(51, 51, 51, 0.25);
	width: 20vmax;
}

.flipper {
	display: flex;
	flex-flow: column wrap;
}

#community-list li .flipper {
	flex : 0 1 20vh;

}

#community-list li .footer{
	background-color: #333;
	font-size: calc(.15vw + 1.14vh + .8vmin);
	width: 100%;
	flex: 1 0 auto;
	text-align: center;
	padding: 1vh .5vw;
}

#community-list li .footer a{
	color: white;
	font-weight: 600;
	text-shadow: 0px 0px 3px #000;
}

.front {
	flex: 1 1 auto;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

}
.front-cover {
	background-size: cover;
}
