small{
	font-size: .9rem;
}

#community-list{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow : row wrap;
	    -ms-flex-flow : row wrap;
	        flex-flow : row wrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}

.flip-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 25vh;
	    -ms-flex: 1 1 25vh;
	        flex: 1 1 25vh;
	margin: 1em 0.5em;
	border: 1px solid rgba(51, 51, 51, 0.25);
	width: 20vmax;
	background-color: #fff;
}

.flipper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column wrap;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;
}

#community-list li .flipper {
	-webkit-box-flex : 0;
	-webkit-flex : 0 1 20vh;
	    -ms-flex : 0 1 20vh;
	        flex : 0 1 20vh;

}

#community-list li .footer{
	background-color: #333;
	font-size: calc(.15vw + 1.14vh + .8vmin);
	width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	text-align: center;
	padding: 1vh .5vw;
}

#community-list li .footer a{
	color: white;
	font-weight: 600;
	text-shadow: 0px 0px 3px #000;
}

.front {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

}
.front-cover {
	background-size: cover;
}

.selected {
	-webkit-transform: scale3d(1.2,1.2,0.9);
	        transform: scale3d(1.2,1.2,0.9);
	z-index: 4;

}
.unselected {
	-webkit-filter : grayscale(100%) blur(2px);
	        filter : grayscale(100%) blur(2px);
	z-index: 1;
}
